shrirang lakhpurkar EXP1:introduction to python

In [1]:
x,y,z="orange","apple","banana"
print(x)

orange

In [2]:
x=2
y=2.5
z="shrirang"
w=True
print(type(x))
print(type(y))
print(type(z))
print(type(w))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [10]:
x=10
y=5
add=x+y
sub=x-y
mul=x*y
div=x/y
exp=x**y
print(add)
print(sub)
print(mul)
print(div)
print(exp)

15
5
50
2.0
100000

In [11]:
x=int(input("enter value of x="))
y=int(input("enter value of y="))
add=x+y
sub=x-y
mul=x*y
div=x/y
exp=x**y
print(add)
print(sub)
print(mul)
print(div)
print(exp)

enter value of x=12
enter value of y=14
26
-2
168
0.8571428571428571
1283918464548864

In [17]:
x=int(input("enter value of x="))
import math
area=(math.pi)*x*x
print(area)

enter value of x=5
78.53981633974483

In [18]:
import math
print(math.log(2.5))

0.9162907318741551

In [20]:
a = float(input("Enter the first number (a): "))
b = float(input("Enter the second number (b): "))

if a > b:
    print(f"{a} is greater than {b}")
elif a < b:
    print(f"{a} is smaller than {b}")
else:
    print(f"{a} is equal to {b}")

Enter the first number (a): 10
Enter the second number (b): 25
10.0 is smaller than 25.0